* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
}


/* header section styles  */
.header {
    background-color: rgba(229, 84, 115, 0.10);

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header-title {
    max-width: 708px;
    font-size: 80px;
    color: #272727;
    font-weight: 800;
    margin-bottom: 10px;
}

.header-description {
    max-width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;

}

/* main section style  */

/* featurd section styles  */

.featured {
    padding: 30px 20px;
    max-width: 1440px;
    margin: 30px auto;
}

.items {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
}

.item-img {
    text-align: center;
}

.item-img img {
    margin-top: 110px;
}

.item-name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 8px;
}

/* services section style  */
.services {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 80px;

}



.service {
    text-align: center;
}

/* hot deal section styles  */

.hot-deal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 30px 40px;
}

/* insta section styles  */

.instagram {
    max-width: 1440px;
    margin: 50px auto;

}

.instagram-pic {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

/* On sale section style  */
.flower-info {
    margin-top: 20px;
    max-width: 400px;
    text-align: center;
    padding: 40px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.flower-title {
    color: #272727;
    font-size: 25px;
}



/* latest deal styles  */

.latest-deal {
    background-image: url("Flower Asset/Rectangle\ 9.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    padding: 100px;
    margin: 30px auto;

}

.input {
    width: 500px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    margin-right: 8px;
}


/* footer style  */
.footer {
    background-color: #111010;
    padding: 100px 80px;
}





/* shared style  */
.primary-color {
    color: #E55473;
}

.btn-primary {
    background-color: #E55473;
    border: 0;
    padding: 20px 43px;
    color: #FFFFFF;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 8px;



}

.footer-description {
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}